{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, {method: ..., action: ..., attr: {novalidate: 'novalidate'}}) }}
#}

{{ form_start(form, {method: 'POST', action: path('opinion_new')}) }}

    {# Render any global form error (e.g. when a constraint on a public getter method failed) #}
    {{ form_errors(form) }}

    {{ form_row(form.valorizacion) }}
    {{ form_row(form.habitacion) }}
    {{ form_row(form.opinion) }}
    {{ form_row(form.loMejor) }}
    {{ form_row(form.porMejorar) }}

    <div class="form-group text-right">
        <button class="btn btn-primary" type="submit">Publicar opinión</button>
    </div>
{{ form_end(form) }}