{% extends 'layout-2-column.html.twig' %}

{% block title %}Opiniones de Pasajeros{% endblock %}
{% block titulo_pagina %}Hotel Sutherland - Opiniones{% endblock %}

{% block descripcion %}Opiniones y Comentarios de nuestros huespedes sobre su estadía en el Hotel Boutique Sutherland House de Valparaíso.{% endblock %}

{% block main %}
    <div  class="well">
        <h2><i class="fa fa-edit"></i> Ingresa tu opinión</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('AppBundle:Opinion:form')) }}
        {% else %}
            <p>
                <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}?referer={{ path('opinion_index') }}">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse
                </a> o <a class="btn btn-success" href="{{ path('fos_user_security_login') }}?referer={{ path('opinion_index') }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión
                </a>
                para publicar una opinión.
            </p>
        {% endif %}
    </div>
<br>
    <h2><i class="fa fa-commenting"></i> Opiniones de pasajeros</h2>
    {% for opinion in opiniones %}
        {{ include(':opinion:_show.html.twig') }}
    {% else %}
        <div class="alert alert-info">Aún no hay opiniones de pasajeros publicadas.</div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div id="TA_selfserveprop54" class="TA_selfserveprop">
        <ul id="5F0upTQqI" class="TA_links PrxExGH">
            <li id="nmxZTD1Bi" class="gd17O7">
                <a target="_blank" href="https://www.tripadvisor.es/"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
            </li>
        </ul>
    </div>
    <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=54&amp;locationId=1957998&amp;lang=es&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
    <br>
    <div id="TA_cdswritereviewlg435" class="TA_cdswritereviewlg">
        <ul id="Wk6zj5" class="TA_links VSn1PdoLAAh6">
            <li id="JSpgp1" class="HbdMVJD8uf">
                <a target="_blank" href="https://www.tripadvisor.es/"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor"/></a>
            </li>
        </ul>
    </div>
    <script src="https://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=435&amp;locationId=1957998&amp;lang=es&amp;lang=es&amp;display_version=2"></script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/adcomponent/js/ad_component.jq.rating.js') }}" type="text/javascript"></script>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        {{ include('datos_estructurados/_hotel.ld+json.twig') }},
        "priceRange" : "$95000 - $120000"{% if opiniones | length %},
        "aggregateRating": {
            "@type": "AggregateRating",
            "bestRating": "5",
            "ratingValue": "{{ valorizacionPromedio }}",
            "worstRating": "1",
            "reviewCount": "{{ opiniones | length }}"
          },
        "review" : [
        {% for opinion in opiniones %}
            {
              "@type": "Review",
              "author": "{{ opinion.usuario.fullName }}",
              "datePublished": "{{ opinion.fecha | date('Y-m-d') }}",
              "name": "{{ opinion.opinion }}",
              "description": "{{ opinion.descripcion }}",
              "reviewRating": {
                "@type": "Rating",
                "bestRating": "5",
                "ratingValue": "{{ opinion.valorizacion }}",
                "worstRating": "1"
              }
            }{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
        {% endif %}
    }
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/adcomponent/css/ad_component.css') }}">
{% endblock %}