{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>Nuevo artículo</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.content) }}
        {{ form_row(form.publishedAt) }}
        {{ form_row(form.tags) }}

        <input type="submit" value="Crear artículo" class="btn btn-primary" />
        {{ form_widget(form.saveAndCreateNew, {label: 'Guardar artículo y crear otro', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            Volver al listado de artículos
        </a>
    {{ form_end(form) }}
{% endblock %}
