{% spaceless %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Hotel Valparaíso{% endblock title %} - {% block subtitle %}Sutherland House - Hotel Boutique{% endblock subtitle %}</title>
        <meta name="keywords" content="hotel valparaíso, hotel boutique, hotel boutique valparaíso, {% block keywords %}hotel v region, hotel viña del mar, valparaiso chile{% endblock %}"/>
        <meta name="description" content="{% block descripcion %}Hotel Valparaíso Sutherland House, con una vista panorámica unica de la Bahía de Valparaíso, desde el cerro alegre.{% endblock %}"/>
        {% block meta %}{% endblock %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://use.fontawesome.com/eaf6b9fa2f.js"></script>
    </head>
    <body>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId={% if app.environment=='prod' %}781510838688948{% else %}781511508688881{% endif %}";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="wrap">
            <nav id="nav-header" class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed text-center" data-toggle="collapse" data-target="#ts-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-navicon"></i><br>
                        <span class="small">Menu</span>
                    </button>
                    <a class="clean-link" href="{{ path('homepage') }}">
                        <img id="logo" class="img-responsive" src="{{ asset('images/hotel-sutherland-house-logo-grande.png') }}" alt="Hotel Boutique Sutherland House Valparaíso Logo"/>
                    </a>
                    <span id="isotipo" class="navbar-toggle">
                        <img class="img-responsive" src="{{ asset('images/hotel-sutherland-house-isotipo-grande.png') }}" alt="Hotel Boutique Sutherland House Valparaíso Logo"/>
                    </span>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="ts-navbar-collapse">
                    <div id="nav-contact" class="col-sm-9 col-md-10 pull-right text-right">
                        <div id="google_translate_element" class="navbar-form pull-right"></div>
                        <span class="navbar-text pull-right"><i class="fa fa-envelope-open-o"></i> contacto<i class="fa fa-at"></i>sutherlandhouse.cl</span>
                        <span class="navbar-text pull-right"><i class="fa fa-phone"></i> +56 32 3196 798</span>
                        <span class="navbar-text pull-right"><i class="fa fa-map-marker"></i> Avenida Alemania 4966 - Cerro Alegre</span>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% block header_navigation_links %}
                        {{ include('includes/_menu-principal.html.twig') }}
                        {% endblock %}
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </nav>
            <div id="main" class="container-fluid">
            {% block body %}{% endblock body %}
            </div>
        </div>
        <footer id="footer" class="panel-footer panel-default">
            <ul class="nav nav-pills nav-justified">
                {{ include(':includes:_menu-footer.html.twig') }}
            </ul>
            <div class="row">
                <div class="col-xs-12 col-sm-3 text-center">
                    <img src="{{ asset('images/ddsecure_140x40_orange.png') }}" alt="Hotel Boutique Sutherland House Secure">
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <a href="waze://?q=Hotel+Sutherland+House" title="Waze Hotel Boutique Sutherland House"><i class="fa fa-map-marker"></i> Avenida Alemania 4966, Cerro Alegre, Valparaíso, Chile</a><br>
                    <a href="tel://+56323196798" title="Teléfono Hotel Boutique Sutherland House"><i class="fa fa-phone"></i> +56 32 3196 798</a> - <a href="mailto:contacto@sutherlandhouse.cl?subject=%5BWEB%5D+Contacto" title="Contacto Hotel Boutique Sutherland House"><i class="fa fa-envelope-open-o"></i> contacto<i class="fa fa-at"></i>sutherlandhouse.cl</a>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    {{ include('includes/_redes-sociales.html.twig') }}
                </div>

            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    <script src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq=756&amp;locationId=1957998&amp;color=green&amp;size=rect&amp;lang=es&amp;display_version=2"></script>
    <script type='text/javascript'>
            var paxer = {};
            paxer.secret = 'JFL9VF';
            paxer.widgetType = 'BOTH';
            paxer.triggerButton = '';  // Coloque aquí el id del botón o link de reservas de su sitio web
            paxer.widgetTheme = 'custom';
            paxer.widgetOrientation = 'horizontal';
            paxer.widgetColors = {"colorHeader1":"#c2bc00","colorHeader2":"#3b3a3a","colorBody1":"#f4f4f4","colorBody2":"#666666"};
            paxer.paxerLang = ''; // Opcional: indique el código del idioma en el que desea ver el widget. Si no se especifica, establece el idioma principal del hotel. Idiomas soportados: es, en

            (function() {
                var paxerScript = document.createElement('script');
                paxerScript.type = 'text/javascript';
                paxerScript.async = true;
                paxerScript.src = 'https://paxer.com/lib/widget/paxer-booking.js?v='+ (new Date().getTime());
                var hscr = document.getElementsByTagName('head')[0];
                hscr.appendChild(paxerScript);
            })();
        </script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'ca,da,de,en,fr,hr,it,ja,ko,no,pt,ru,sk,sv,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-16729802-3'}, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        {% if app.environment=='prod' %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-16729802-3', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
{% endspaceless %}