{#
   This is the base template of the all backend pages. Since this layout is similar
   to the global layout, we inherit from it to just change the contents of some
   blocks. In practice, backend templates are using a three-level inheritance,
   showing how powerful, yet easy to use, is Twig's inheritance mechanism.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
{% extends 'layout-2-column.html.twig' %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('admin_post_index') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Listado de artículos
        </a>
    </li>
    <li>
        <a href="{{ path('blog_index') }}">
            <i class="fa fa-rss" aria-hidden="true"></i> Volver al blog
        </a>
    </li>
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/vendor/highlight-solarized-light.css') }}">
    <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap-tagsinput.css') }}">

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/vendor/moment.min.js') }}"></script>
    <script src="{{ asset('js/vendor/highlight.pack.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}