{% extends 'layout-2-column.html.twig' %}

{% block title %}Blog - Sutherland House{% endblock %}
{% block subtitle %}{{ post.title }}{% endblock %}

{% block titulo_pagina%}Hotel Sutherland - Blog{% endblock %}

{% block keywords %}
    {% for tag in post.tags %}{% if not loop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endblock %}

{% block descripcion %}{{ post.summary|md2html|striptags }}{% endblock %}

{% block main %}
    <h2>{{ post.title }}</h2>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
        <span class="fb-like" data-href="{{ url('blog_post', {'slug' : post.slug}) }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></span>
    </p>

    {{ post.content|md2html }}

    {{ include('blog/_post_tags.html.twig') }}

    <div id="post-add-comment" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a comment.
        See https://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('AppBundle:Blog:commentForm', {'id': post.id})) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión
                </a>
                para publicar un comentario
            </p>
        {% endif %}
    </div>

    <h3>{{ post.comments|length }} comentario{% if post.comments|length > 1 %}s{% endif %}</h3>

    {% for comment in post.comments %}
        <div class="row post-comment">
            <a name="comment_{{ comment.id }}"></a>
            <h4 class="col-sm-3">
                <strong>{{ comment.author.fullName }}</strong> comentado el
                {# it's not mandatory to set the timezone in localizeddate(). This is done to
                   avoid errors when the 'intl' PHP extension is not available and the application
                   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                <strong>{{ comment.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content|md2html }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>Se el primero en añadir un comentario en este artículo.</p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('edit', post) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_post_edit', {id: post.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> Editar artículo
            </a>
        </div>
        <br>
    {% endif %}
    {{ include('blog/_rss.html.twig') }}
    <br>
    <div class="row">
        <a class="btn btn-lg btn-info btn-block" href="{{ path('blog_index') }}"><i class="fa fa-list-alt"></i> Volver al Listado</a>
    </div>
{% endblock %}
