<li><a href="{{ path('homepage') }}"><i class="fa fa-fw fa-home"></i> Hotel</a></li>
<li><a href=""><i class="fa fa-fw fa-bed"></i> Habitaciones</a></li>
<li><a href=""><i class="fa fa-fw fa-calendar"></i> Reservas</a></li>
<li><a href="{{ path('hotel_tarifa') }}"><i class="fa fa-fw fa-dollar"></i> Tarifas y Promociones</a></li>
<li><a href="{{ path('hotel_faq') }}"><i class="fa fa-fw fa-question-circle-o"></i> Preguntas Frecuentes</a></li>
<li><a href="{{ path('hotel_comentario') }}"><i class="fa fa-fw fa-commenting"></i> Opiniones</a></li>
<li><a href="{{ path('blog_index') }}"><i class="fa fa-fw fa-rss"></i> Blog</a></li>