<li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-home"></i> HOTEL <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('homepage') }}" title="Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-home"></i> INICIO</a></li>
        <li><a href="{{ path('hotel_quienes_somos') }}" title="Quienes Somos Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-users"></i> QUIENES SOMOS</a></li>
        <li><a href="{{ path('hotel_eco') }}" title="Política Sustentabilidad Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-leaf"></i> ECO AMIGABLE</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ path('hotel_valparaiso') }}" title="Valparaíso"><i class="fa fa-fw fa-map-marker"></i> VALPARAÍSO</a></li>
        <li><a href="{{ path('hotel_paseos') }}" title="Imperdibles para un día en Valparaíso"><i class="fa fa-fw fa-map-o"></i> PASEOS</a></li>
    </ul>
</li>
<li><a href="{{ path('hotel_habitacion_list') }}" title="Habitaciones Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-bed"></i> HABITACIONES</a></li>
<li><a class="text-lg" href="{{ path('hotel_reserve') }}" title="Reserve Ahora Hotel Boutique Sutherland House Valparaíso"><b><i class="fa fa-fw fa-calendar"></i> RESERVE AHORA</b></a></li>

<li class="hidden-sm hidden-md"><a href="{{ path('hotel_tarifa') }}" title="Tarifas y Promociones Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-dollar"></i> PROMOCIONES y TARIFAS</a></li>
<li class="hidden-sm hidden-md"><a href="{{ path('hotel_faq') }}" title="Preguntas Frecuentes Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-question-circle-o"></i> PREGUNTAS FRECUENTES</a></li>
<li class="hidden-sm hidden-md"><a href="{{ path('opinion_index') }}" title="Opiniones de Pasajeros Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-commenting"></i> OPINIONES</a></li>

<li role="presentation" class="visible-sm visible-md dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-info-circle"></i> INFORMACIONES <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('hotel_tarifa') }}" title="Tarifas y Promociones Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-dollar"></i> PROMOCIONES y TARIFAS</a></li>
        <li><a href="{{ path('hotel_faq') }}" title="Preguntas Frecuentes Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-question-circle-o"></i> PREGUNTAS FRECUENTES</a></li>
        <li><a href="{{ path('opinion_index') }}" title="Opiniones de Pasajeros Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-commenting"></i> OPINIONES</a></li>
        <li class="hidden-md"><a href="{{ path('hotel_contacto') }}" title="Contacto Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-send"></i> CONTACTO</a></li>
    </ul>
</li>

<li class="hidden-sm"><a href="{{ path('hotel_contacto') }}" title="Contacto Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-send"></i> CONTACTO</a></li>