{% extends 'base.html.twig' %}

{% block title %}Promociones - Sutherland House{% endblock %}
{% block subtitle %}{{ promocion.nombre }}{% endblock %}

{% block keywords %}promoción año nuevo en el mar valparaíso, fuegos articiales, juegos artificiales borde costero, año nuevo {{ "now" | date('Y') + 1 }} hotel, reserva año nuevo {{ "now" | date('Y') + 1 }}{% endblock %}

{% block descripcion %}Reserva tu habitación en el hotel boutique sutherland house para el programa de año nuevo en el mar {{ "now" | date('Y') + 1 }} de valparaíso donde verás uno de los espectáculos pirotecnicos más espectaculares del mundo.{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:Hotel:carousel', {'pagina' : promocion.slug })) }}
    {{ include('includes/_reserva-paxer.html.twig') }}
    <div class="container">
        <div class="row text-center">
            <h1>{{ promocion.nombre }} en Hotel Boutique Sutherland House</h1>
        </div>
        <div class="row text-right">
            <div class="fb-like" data-href="{{ url('hotel_promocion', {'slug' : promocion.slug}) }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </div>
        {{ include('includes/_flash_messages.html.twig') }}
        <h3><i class="fa fa-list"></i> Programa Actividades</h3>
        <h4>30 de diciembre:</h4>
        <ul class="list-group">
            <li class="list-group-item"><b>15.00 horas:</b> Check in.</li>
            <li class="list-group-item"><b>18.15 horas:</b> Caminata por sector patrimonial.</li>
            <li class="list-group-item"><b>20.15 horas:</b> Paseo en Lancha por la costa de Valparaíso.</li>
            <li class="list-group-item"><b>21.15 horas:</b> Cóctel de bienvenida.
                <ul>
                    <li>Variedad de sours.</li>
                    <li>Degustación de vinos.</li>
                    <li>Bebidas.</li>
                    <li>Cervezas artesanales.</li>
                    <li>Bocados fríos.</li>
                    <li>Bocados caliente.</li>
                    <li>Bocados dulces.</li>
                </ul>
            </li>
        </ul>

        <h4>31 de diciembre:</h4>
        <ul class="list-group">
            <li class="list-group-item"><b>8.30 a 11.30:</b> Desayuno buffet.</li>
            <li class="list-group-item"><b>21.00 horas:</b> Cena "MAR y TIERRA"
                <h5>BUFFET PRINCIPAL</h5>
                <ul>
                    <li>Carne Roja y Blanca.</li>
                    <li>Pescado y Pasta.</li>
                </ul>
                <h5>BUFFET GUARNICIONES</h5>
                <h5>BUFFET DE POSTRES</h5>
            </li>
            <li class="list-group-item"><b>23.00 horas:</b> Botella de espumante en la habitación.</li>
        </ul>

        <h4>1 de Enero</h4>
        <ul class="list-group">
            <li class="list-group-item"><b>Desde 00.30 horas:</b> Fiesta, DJ, cotillón y bar abierto.</li>
            <li class="list-group-item"><b>03.00 horas:</b> Consomé y tapaditos.</li>
            <li class="list-group-item"><b>04.30 horas:</b> Cierre.</li>
            <li class="list-group-item list-group-item-info">Sorteo de una noche de alojamiento para un fin de semana en habitación con terraza.</li>
            <li class="list-group-item"><b>09.00 a 13.00:</b> Brunch (desayuno / almuerzo).</li>
            <li class="list-group-item"><b>16.30 horas:</b> Check out.</li>
        </ul>

        <h3><i class="fa fa-file-text-o"></i> Condiciones Generales</h3>
        <ul>
            <!-- <li>Solo para nacionales: El plan (1) Contempla los días 30, 31 de diciembre y 1 de enero, mientras que el plan (2) es a partir del día 31 de diciembre, con la opción de early check in, incluyendo desayuno el mismo día.</li>-->
            <li>Tarifa en Dólares aplicable solo para extranjeros no residentes en Chile.</li>
            <li>Las tarifas en pesos chilenos incluyen IVA.</li>
            <li>Tarifa por habitación single o doble.</li>
            <li>Horario de Check In desde las 15:00 hrs.</li>
            <li>Late Check Out, 16:00 hrs.</li>
            <li>No incluye cama adicional.</li>
            <li>Reservas limitadas a 9 habitaciones.</li>
            <li>No dispone de acceso para minusválidos.</li>
            <li>No se aceptan mascotas.</li>
            <li>Las dependencias del hotel son para no fumadores, solo en las terrazas se permite fumar.</li>
            <li>Un Estacionamiento disponible por cada habitación</li>
        </ul>

        <h3><i class="fa fa-credit-card"></i> Forma de Pago</h3>
        <ul>
            <li>Prepago del 60% al momento de la reserva mediante pago en efectivo, transferencia electrónica bancaria equivalente a pesos chilenos o cargo tarjeta de crédito.</li>
            <li>Saldo se cancela al 15 de diciembre del {{ "now" | date('Y') }}.</li>
        </ul>


        <h3><i class="fa fa-window-close"></i> Política de Cancelación</h3>
        <p>Cancelación de reservas hasta el <b>31 de Octubre del {{ "now" | date('Y') }}</b>. Pasado ese plazo no habrá reintegros ni devoluciones.</p>


        {% if promocion.promocionXHabitacions | length %}
            {{ include('promocion/_habitacion_valor.html.twig') }}
        {% endif %}

        {{ include('includes/_contacto.html.twig') }}

        <h3><i class="fa fa-send"></i> Consultas y Reservas</h3>
        {{ render(controller('AppBundle:Hotel:contactoForm', {'origen': url('hotel_promocion', {'slug' : promocion.slug })})) }}

        <h3><i class="fa fa-comments"></i> Comentarios Promoción</h3>
        <div class="text-center">
            <div class="fb-comments" data-href="{{ url('hotel_promocion', {'slug' : promocion.slug}) }}" data-numposts="10" data-order-by="reverse_time"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "location": {
            {{ include('datos_estructurados/_hotel.ld+json.twig') }},
            "priceRange": "CLP$ {{ promocion.pesoMinimo }} - CLP$ {{ promocion.pesoMaximo }}"
        },
        "name": "{{ promocion.nombre }} Hotel Sutherland Valparaíso",
        "description": "Programa de año nuevo en el mar {{ "now" | date('Y') + 1 }} de valparaíso donde verás uno de los espectáculos pirotecnicos más espectaculares del mundo.",
        "startDate": "{{ "now" | date('Y') }}-12-30T15:00",
        "endDate": "{{ "now" | date('Y') + 1  }}-01-01T16:30",
        "image": "https://hotelsutherland.cl{{ asset(urlBase ~ '/' ~ promocion.url) }}",
        "performer": {
            {{ include('datos_estructurados/_owner.ld+json.twig') }}
        },
        "offers": [
          {% for prxh in promocion.promocionXHabitacions %}
            {% if prxh.pesoOpcion1 %}
              {
                "@type": "Offer",
                "category": "Habitación {{ prxh.habitacion.nombre }}",
                "price": "{{ prxh.pesoOpcion1 }}",
                "priceCurrency": "CLP",
                "availability": "{{ prxh.vendida ? 'SoldOut' : 'InStock' }}",
                "url": "{{ url('hotel_promocion', {'slug' : promocion.slug}) }}",
                "validFrom": "{{ promocion.fechaInicio | date('Y-m-d') }}"
              },
            {% endif %}
          {% if prxh.dolarOpcion1 %}
            {
              "@type": "Offer",
              "category": "Habitación {{ prxh.habitacion.nombre }}",
              "price": "{{ prxh.dolarOpcion1 }}",
              "priceCurrency": "USD",
              "availability": "{{ prxh.vendida ? 'SoldOut' : 'InStock' }}",
              "url": "{{ url('hotel_promocion', {'slug' : promocion.slug}) }}",
              "validFrom": "{{ promocion.fechaInicio | date('Y-m-d') }}"
            }{% endif %}{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
    }
</script>
{% endblock %}